[submodule "homework-templates/01"]
	path = homework-templates/01
	url = git@github.com:stat-assignments/github-intro
[submodule "homework-templates/03"]
	path = homework-templates/03
	url = git@github.com:stat-assignments/fizzbuzz-full.git
[submodule "homework-templates/02"]
	path = homework-templates/02
	url = git@github.com:stat-assignments/scripts-code-quarto.git
[submodule "homework-templates/04"]
	path = homework-templates/04
	url = git@github.com:stat-assignments/data-programming-steam-games.git
[submodule "homework-templates/05"]
	path = homework-templates/05
	url = git@github.com:stat-assignments/reading-data-cookies.git
[submodule "homework-templates/06"]
	path = homework-templates/06
	url = git@github.com:stat-assignments/dplyr-reddit-poetry.git
[submodule "homework-templates/07"]
	path = homework-templates/07
	url = git@github.com:stat-assignments/sql-murder.git
[submodule "homework-templates/09"]
	path = homework-templates/08
	url = git@github.com:stat-assignments/graphics-banknote-ugly.git
[submodule "exams/midterm-practice"]
	path = exams/midterm-practice
	url = git@github.com:stat-assignments/2025-850-practice-midterm.git
[submodule "homework-templates/10"]
	path = homework-templates/10
	url = git@github.com:stat-assignments/reproducibility-public-communication.git
[submodule "homework-templates/11"]
	path = homework-templates/11
	url = git@github.com:stat850-unl/stat850-unl-2025c-list-processing-drwho.git
[submodule "homework-templates/12"]
	path = homework-templates/12
	url = git@github.com:stat850-unl/stat850-unl-2025c-simulating-distributions-simulation-distributions.git
