/*-- scss:defaults --*/

@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';

$font-family: "Atkinson Hyperlegible", sans-serif;


/*-- scss:rules --*/

a {
  line-height: calc(24px + 0.5vw);
  font-weight:600;
}

.sidebar-logo{
  max-width:150px;
}